{{!--

@license Apache-2.0

Copyright (c) 2022 The Stdlib Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

--}}

{{!< default}}

<main id="gh-main" class="gh-main gh-canvas">
	{{#tag}}
		<section class="gh-pagehead">
			<header class="gh-pagehead-content">
				<div class="gh-tag-label">Topic</div>

				<h1 class="gh-tag-name gh-pagehead-title">{{name}}</h1>

				<div class="gh-tag-description gh-pagehead-description">
					{{#if description}}
							{{description}}
					{{else}}
							A collection of {{plural ../pagination.total empty="0 posts" singular="% issue" plural="% posts"}}
					{{/if}}
				</div>
			</header>
		</section>
	{{/tag}}

	<div class="gh-feed">
		{{#foreach posts}}
			{{> loop}}
		{{/foreach}}
	</div>

	<button class="gh-loadmore gh-btn">Load more posts</button>
</main>
